<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <style>
        .message-content {
            padding: 50px;
        }
    </style>
</head>

<body>
    <div class="message-content">
        <h1>Olá, {{name}}</h1>
        <p>Parece que uma troca de senha para a sua conta foi solicitada. </p>
        <p>Se foi você, então clique no link abaixo para escolher uma nova senha: </p>
        <p>
            <a href="{{link}}"> Resetar minha senha</a>
        </p>
        <p>Se não foi você, então desconsidere esse e-mail!</p>
        <p>
            Obrigado!
            <br />
            <strong>Equipe GoBarber</strong>
        </p>
    </div>
</body>

</html>